@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Roboto";
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.background-image {
  background: url("./images/background-image.jpg");
  min-height: 100vh;
  min-width: 40vw; /* Adjust the width percentage as needed */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 140px;
  position: relative;
}

.background-image .credis {
  position: absolute;
  font-size: 11px;
  bottom: 0px;
}

.top {
  background-color: rgb(245, 245, 245);
  flex-grow: 1;
  display: flex;
  padding: 2rem;
}

.middle {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.bottom {
  background: rgb(245, 245, 245);
  box-shadow: 0px 30px 10px -30px rgba(149, 149, 149, 0.75) inset;
  flex-grow: 3;
  padding: 2rem;
}

.top-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top p,
.middle p {
  font-size: 1.5rem;
  font-weight: 450;
}

.middle p {
  margin: 0px;
  margin-top: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.7rem;
  font-weight: 550;
  letter-spacing: 1px;
  color: #616161;
}

input,
label {
  display: block;
}

.form-row {
  margin-block: 0.9rem;
  width: 250px;
}

.form-set {
  display: flex;
  gap: 6rem;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  transition: 0.3s;
}
/* 
input:invalid:focus {
  border: 1.5px solid rgb(255, 0, 0);
} */

input:focus {
  appearance: none;
  box-shadow: 2px 2px 4px #a6a6a6;
  outline: none;
  border: 1.5px solid rgb(0, 94, 255);
}

button {
  border: none;
  background: none;
  padding: 17px;
  padding-inline: 64px;
  background-color: rgb(130, 113, 99);
  color: white;
  border-radius: 7px;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 2px 2px 4px #a6a6a6;
  margin-bottom: 20px;
}

.form-row a {
  text-decoration: none; 
  font-weight: 700;
  color: rgb(130, 113, 99);
}

.background-image a {
  color: white;
  font-size: 13px;
}
.error {
  border: solid rgb(198, 0, 0);
  border-width: 0.6px;
}

@media only screen and (max-width: 1100px) {
  form {
    flex-direction: column;
    gap: 0px;
  }

  .form-set {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .form-row {
    width: 100%;
    margin-block: 16px;
  }

  button {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .background-image {
    min-height: 50vh;
  }
}
